.radio {
  text-align: center;
}

.radio input {
	width: auto;
	height: 100%;
	appearance: none;
	outline: none;
	cursor: pointer;
	padding: 4px 8px;
  margin: 0px;
	font-size: 18px;
	color: #999;
}

.radio input:checked {
	color: #fff;
	text-decoration: underline;
}

.radio input:before {
	content: attr(label);
	text-align: center;
	width: 100%;
}
